<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Address
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor='let data of data,index as i'>
    <ion-card class="productCard" expand="full" (click)="openDetailsWithQueryParams(i)">
      <ion-item>
        <p>Address - {{data.address}}</p>
      </ion-item>
      <ion-item>
        <p>City - {{data.city}}</p>
      </ion-item>
      <ion-item>
        <p>Country - {{data.country}}</p>
      </ion-item>
      <ion-item>
        <p>state - {{data.state}}</p>
      </ion-item>
      <ion-item>
        <p>pincode - {{data.pincode}}</p>
      </ion-item>
    </ion-card>
  </div>
  <ion-icon (click)="addAddress()" class="addCart" color="primary" ios="ios-add-circle" md="md-add-circle"></ion-icon>

</ion-content>