<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="first_name" type="text" placeholder="First Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="last_name" type="text" placeholder="Last Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="pass" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirmPass" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="phone_no" type="text" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-list>
              <ion-radio-group ngModel name="gender">
                <ion-list-header>
                  <ion-label>Gender</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio slot="start" value="1" checked></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio slot="start" value="0"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>