<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor='let product of product,index as i'>
      <ion-col size="12">
        <!-- <ion-card class="productCard" [routerDirection]="'root'" [routerLink]="[url1]"> -->
        <ion-card class="productCard" expand="full"
          (click)="openDetailsWithQueryParams(i)">
          <ion-item>
            <img class="image" src="{{url+product.product_image}}">
            <p><span>{{product.product_name}}</span><br><span class="producer">{{product.product_producer}}</span>
              <br><span class="price">Rs. {{product.product_cost}}</span>
            </p>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>