.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
ul {
  padding: 0px;

  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 30px;
    }
  }
}
.addCart {
  position: fixed;
  z-index: 99;
  top: 81%;
  left: 79%;
  font-size: 45px;
  padding: 0;
}
.mainInage {
  width: 100%;
  height: 170px;
}
.subImage {
  width: auto;
  height: 40px;
}
