<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{data?.product_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <p><span>{{data?.product_name}}</span><br><span class="producer">Category
          {{data?.category_id?.category_name}}</span>
        <br><span class="price">{{data?.product_producer}}</span>
        <br>Rs. <span style="color: red;">{{data?.product_cost}}</span>
      </p>
    </ion-item>
    <img class="mainInage" src="{{mainImage}}">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor='let subImage of subImage,index as i' (click)="changeImage(i)">
            <div>
              <img class="subImage" src="{{url+subImage}}">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card-content>
      <p><b>Description</b><br>{{data?.product_desc}}</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card class="footer">
    <ion-button style="width: 45%;">Buy Now</ion-button>
    <ion-button style="width: 45%;">Rate</ion-button>
  </ion-card> -->
  <!-- <ion-button class="addCart">+</ion-button> -->
  <ion-icon (click)="saveCart()" class="addCart" color="primary" ios="ios-add-circle" md="md-add-circle"></ion-icon>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-card>
      <ion-button style="width: 45%;">Buy Now</ion-button>
      <ion-button style="width: 45%;">Rate</ion-button>
      <!-- <rating [(ngModel)]="rate" [max]="5">
      </rating> -->
    </ion-card>
  </ion-toolbar>
</ion-footer>