<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <form #form="ngForm" (ngSubmit)="login(form)"> -->
  <form name="" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login</h3>
          </div>
          <div padding>
            <div class="form-group">
              <ion-item>
                <ion-input placeholder="your@email.com" type="text" class="form-control" name="email"
                  [(ngModel)]="model.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email></ion-input>
              </ion-item>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                <!-- <div *ngIf="email.errors.pattern">Email must be a valid email address</div> -->
                <div [hidden]="!email.errors.pattern">Email is Invalid</div>
              </div>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-input placeholder="******" type="password" class="form-control" name="pass"
                  [(ngModel)]="model.pass" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }"
                  required minlength="6"></ion-input>
              </ion-item>
              <div *ngIf="f.submitted && pass.invalid" class="invalid-feedback">
                <div *ngIf="pass.errors.required">Password is required</div>
                <div *ngIf="pass.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="f.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>