<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!data" text-center style="margin-top: 50%;">
    <img class="image" src="/assets/cart_data_notfound.jpg">
  </div>
  <ion-grid>
    <ion-row *ngFor='let product of data,index as i'>
      <ion-col size="12">
        <!-- <ion-card class="productCard" [routerDirection]="'root'" [routerLink]="[url1]"> -->
        <ion-card class="productCard" expand="full">
          <ion-item>
            <img class="image" src="{{url+product.product_id.product_image}}">
            <p><span>{{product.product_id.product_name}}</span><br><span
                class="producer">{{product.product_producer}}</span>
              <br><span class="price">Rs. {{product.product_cost}}</span>
            </p>
          </ion-item>
          <ion-card-content style="padding: 0;">
            <ion-row>
              <ion-col size="">
                <ion-item>
                  <ion-item>
                    <ion-label>Quantity</ion-label>
                    <ion-select mode='ios' [ngModel]="check(i)" interface="popover" [compareWith]="compareWith">
                      <ion-select-option (click)='selectqyt()' *ngFor="let user of users">{{user.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <!-- <ion-label>Quantity</ion-label>
                  <ion-select [(ngModel)]="quantity" interface="popover" mode='ios'>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="6">6</ion-select-option>
                  </ion-select> -->
                </ion-item>
              </ion-col>
              <ion-col size="">
                <ion-item text-center>
                  <ion-icon style="margin: 0 auto;" name="trash" (click)="deleteProduct(product.product_id._id)">
                  </ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-card text-center>
      <ion-button style="width: 45%;">Order</ion-button>
    </ion-card>
  </ion-toolbar>
</ion-footer>