<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" (ionWillOpen)="willOpen()">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)='forSelect(p.title)'>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-menu-toggle auto-hide="false">
        <span *ngIf="option" class="footer"> <span (click)="click(1)">Login</span> <span
            (click)="click(0)">Registration</span></span>
      </ion-menu-toggle>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>