<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding: 0;">
      <span style="color: red;">Neo</span>
      <span style="color: black;">Store</span>
      <ion-icon *ngIf="cartCount" float-right name="cart" style="margin-right: 7%;" [routerLink]="['/cart']"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>


<!-- <ion-slides pager>
  <ion-slide *ngFor="let slide of slides">
    <img [src]="slide.image" class="slide-image" />
    <h2 class="slide-title" [innerHTML]="slide.title"></h2>
    <p [innerHTML]="slide.description"></p>
  </ion-slide>
  <ion-slide>
    <ion-toolbar>
    </ion-toolbar>
    <img src="/assets/chair-solid.svg" class="slide-image" />
    <h2 class="slide-title">Ready to Play?</h2>
    <button ion-button large clear icon-end color="primary">
      Continue
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-slide>
</ion-slides> -->
<ion-content>
  <ion-slides [options]="sliderConfig">

    <ion-slide #slideWithNav style="margin-top: 7%;" *ngFor="let data of data,index as i">
      <img (click)='forSelect(i)' class="image" src="{{baseURL+data.product_image}}">
    </ion-slide>
  </ion-slides>
  <!-- testing strat  -->
  <!-- <ion-grid>
    <ion-row *ngFor='let product of product'>
      <ion-col size="3">
        {{product.product_name}}
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-title>Top Rated Product</ion-title>
  <ion-card class="" style="display: flex; justify-content: center;margin: 6%;" *ngFor="let topRated of topRated,index as i">
    <div (click)="openDetailsWithQueryParams(i)">
      <img class="image1" src="{{baseURL+topRated?.DashboardProducts[0]?.product_image}}">
      <ion-card-header>
        <ion-card-subtitle>{{topRated?.DashboardProducts[0]?.product_category[0]?.category_name}}</ion-card-subtitle>
        <ion-card-title>{{topRated?.DashboardProducts[0]?.product_name}}</ion-card-title>
      </ion-card-header>
    </div>
   
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
</ion-content>