.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.tutorial-page {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646b;

    b {
      color: #000000;
    }
  }
}
ion-slide.swiper-slide {
  transition: opacity 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}

ion-slide:not(.swiper-slide-active) {
  opacity: 0.7;
  transform: scale(0.8);
}
.image1 {
  width: 60%;
  height: 137px;
}
.background-image{
  --background: url(../../assets/background.jpeg) 0 0/100% 100% no-repeat;
}