<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar class="profile">
      <img *ngIf='!data.customer_details.gender' src="/assets/female.png">
      <img *ngIf='data.customer_details.gender'
        src="/assets/faceless-businessman-avatar-man-suit-blue-tie-human-profile-userpic-face-features-web-picture-gentlemen-85824471.jpg">
    </ion-avatar>
    <div class="ion-text-center">
      <p style="font-size:26px; color:black; margin: 0; ">{{data.customer_details.first_name}}
        {{data.customer_details.last_name}}</p>
      <p>+91{{data.customer_details.phone_no}}</p>
      <p>{{data.customer_details.email}}</p>
    </div>
    <ion-icon (click)='presentAlert()' class="ion-float-right" name="create"
      style="margin:-9% 5% 1% 0%; font-size: large;">
    </ion-icon>
  </ion-card>
  <ion-card>
    <p style="font-size: 16px; color: black; margin-left:3%">My Address</p>
    <p style="margin-left:3%">{{data.customer_address[0].address}}, {{data.customer_address[0].city}},
      {{data.customer_address[0].country}}</p>
    <p [routerLink]="['/address']" class="ion-float-right" style="margin-top: 0; color: #397ffb;">Show More </p>
  </ion-card>
  <ion-card>
    <p style="font-size: 16px; color: black; margin-left:3%">My Order</p>
    <!-- <p style="margin-left:3%">{{data.customer_address[0].address}}, {{data.customer_address[0].city}},
      {{data.customer_address[0].country}}</p> -->
    <p [routerLink]="['/order']" class="ion-float-right" style="margin-top: 0; color: #397ffb;">View All Orders</p>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-card>
      <ion-button style="width: 30%;" (click)='logout()'>Logout</ion-button>
    </ion-card>
  </ion-toolbar>
</ion-footer>